html,
body {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

[v-cloak] .v-cloak--hidden {
  display: none;
}

.disabled,
:disabled {
  pointer-events: auto !important;
}

.form-control:disabled {
  cursor: not-allowed !important;
}

/***** SCROLL TO TOP ********/

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #b2bec3;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top.show {
  opacity: 0.7;
}

/***** END ********/

.hidden {
  display: none !important;
}

#main-wrapper {
  /*height: 100%;
    position: relative;
    padding: 0 0 100px;*/
  min-height: 100%;
  position: relative;
}

/* LOGIN */

.login-container {
  padding-top: 70px;
}

.mdb-login .form-header {
  color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 2px;
}

/* DATATABLE */

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after {
  padding: 5px;
}

.dataTables_wrapper .mdb-select {
  border: none;
  float: left;
}

.dataTables_wrapper .mdb-select.form-control {
  padding-top: 0;
  margin-top: -1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 100px;
}

.dataTables_length label {
  float: left;
}

table.dataTable {
  margin-bottom: 3rem !important;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

/* CONTENT */

.page-content {
  padding-top: 30px;
  padding-bottom: 80px;
}

/* CURRENCY TABLE */

.update-btn-container {
  margin-bottom: 50px;
}

#table-loader {
  font-size: 50px;
}

#btn-update-loader {
  font-size: 14px;
  margin-right: 5px;
}

/****FOOTER****/

.site-footer {
  color: #FFF;
  /*position: relative;
    bottom: 0px;
    width: 100%;*/
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.footer-container {
  background-color: #2d3436;
  height: 35px;
}

.footer-text {
  float: right;
  font-size: 10px;
  margin-top: 10px;
}

/* Calculator */

